.category {
    margin: 0 auto;
    min-height: 460px;
    margin-top: 30px;
    background: #F3F7FC;
    position: relative;
    &__title {
        display: flex;
        padding-top: 50px;
        font-size: 24px;
        font-weight: 700;
        justify-content: center;
        margin-bottom: 0;
    }
    &__items {
        margin-top: 30px;
        display: grid;
        grid-template: repeat(2, minmax(120px, auto)) / repeat(4, 255px);
        grid-auto-rows: minmax(120px, auto);
        grid-gap: 30px;
    }
    &__item {
        background: #FFFFFF;
        border-radius: 3px;
        display: flex;
        position: relative;
        &-img {
            display: flex;
            padding: 0 auto;
            margin: 0 0 0 auto;
            align-items: center;
            min-height: 120px;
            z-index: 1; 
            position: relative;
            align-items: flex-end;
        }
        &-title {
            position: absolute;
            margin: 20px auto auto 20px;
            width: 156px;
            height: 40px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: #040F0F;
            z-index: 2;
        }
        &-arrow {
            margin: 74px auto 30px 24px;
            position: absolute;
            cursor: pointer;
        }
    }
    &__link {
        display: flex;
        margin-top: 30px;
        justify-content: flex-end;
        font-size: 14px;
        color: #135DBC;
        text-decoration-line: underline;
    }
}